server:
  port: ${SERVER_PORT:8080}
spring:
  datasource:
    url: jdbc:mysql://${DB_IP:192.168.23.43}:${DB_PORT:33010}/${DB_NAME:bak_server}?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: ${DB_USER:root}
    password: ${DB_PASS:1Q#!bURw68Vw}
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always
      schema-locations: classpath:/schema.sql

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

bak:
  db-ip: ${DB_IP:192.168.23.43}
  db-port: ${DB_PORT:33010}
  db-username: ${DB_USER:root}
  db-password: ${DB_PASS:1Q#!bURw68Vw}
  export-dir: ${EXPORT_DIR:${user.dir}/export}
  bak-dir: ${BAK_DIR:${user.dir}/bak}
  archive-dir: ${ARCHIVE_DIR:${user.dir}/archive}
  threshold-script-path: ${THRESHOLD_SCRIPT_PATH:classpath:shell/over_threshold.sh}
  bak-script-path: ${BAK_SCRIPT_PATH:classpath:shell/run_bak.sh}
  archive-script-path: ${ARCHIVE_SCRIPT_PATH:classpath:shell/run_archive.sh}
  restore-script-path: ${RESTORE_SCRIPT_PATH:classpath:shell/run_restore.sh}

fast-crud:
  upload:
    mode: ${FILE_STORE:local} # 如果使用aliyun,则必须提供aliyun.oss相关配置项

aliyun:
  oss:
    endpoint: ${ALIYUN_OSS_ENDPOINT}
    keyId: ${ALIYUN_OSS_KEY_ID}
    keySecret: ${ALIYUN_OSS_KEY_SECRET}
    bucketName: ${ALIYUN_OSS_BUCKET_NAME}